<script lang="ts">
	import PageLoader from '$lib/components/PageLoader.svelte';
	import '../water.dark.css';
	import { navigating } from '$app/stores';
</script>

{#if $navigating}
	<PageLoader />
{/if}

<slot />

<style>
	:global(body) {
		padding: 0 2rem;
	}
</style>
