<script lang="ts">
	import type { PageData } from './$types';

	export let data: PageData;
</script>

<svelte:head>
	<title>Scribbler | {data.title}</title>
</svelte:head>

<img style="width: 100%; height: auto;" src={data.img} alt="title" />

<h1>{data.title}</h1>

<!-- eslint-disable-next-line svelte/no-at-html-tags -->
{@html data.article}
