<script lang="ts">
	import { onMount } from "svelte";
	import { quadInOut } from "svelte/easing";
	import { tweened } from "svelte/motion";

    const progress = tweened(0, {
        easing: quadInOut,
    });

    let visible = false;

    onMount(() => {
        let timeOut: number;

        function next() {
            visible = true;

            const remaining = 1 - $progress;

            progress.update((v) => v + 0.1, {
                duration: remaining + 0.1 > 0.15 ? 250 : 500 / remaining,
            });

            if (remaining > 0.15) {
                timeOut = setTimeout(next, 500 / remaining);
            }
        }

        timeOut = setTimeout(next, 250);

        return () => clearTimeout(timeOut);
    })
</script>

{#if visible}
    <div class="progress-container">
        <div class="progress" style="width: {$progress * 100}%;" />
    </div>
{/if}

{#if $progress >= 0.6}
    <div class="fade" />
{/if}

<style>
    .progress-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        z-index: 9999;
    }

    .progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--code);
        z-index: 999;
        transition: width 0.4s;
    }

    .fade {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        z-index: 998;
        animation: fade 0.4s;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>
